<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cooperados</title>
</head>
<body>
	<h1>Adicionar Cooperados</h1>
	<form action="">
		<div>
			<Label>Matricula:</Label> <input type="text" name="matricula">
		</div>
		<div>
			<Label>Nome:</Label> <input type="text" name="nome">
		</div>
		<div>
			<Label>CPF:</Label> <input type="text" name="cpf">
		</div>
		<div>
			<Label>Endereço:</Label> <input type="text" name="endereco">
		</div>
		<div>
			<Label>Bairro:</Label> <input type="text" name="bairro">
		</div>
		<div>
			<Label>CEP:</Label> <input type="text" name="cep">
		</div>
		<div>
			<Label>Cidade:</Label> <input type="text" name="cidade">
		</div>
		<div>
			<Label>Estado:</Label> <input type="text" name="estado">
		</div>
		<div>
			<Label>Cooperado:</Label> <input type="text" name="cooperado">
		</div>
		<div>
			<button type="submit">Salvar</button>
			<button type="reset">Limpar</button>
		</div>




	</form>
</body>
</html>